@import "vendor/bootstrap";
@import "vendor/todc-bootstrap";
@import "vendor/font-awesome";
@import "vendor/button-social";
@import "vendor/jquery.atwho";
@import "vendor/select2";
@import "vendor/pikaday";
@import "vendor/jquery.timepicker";
@import "jquery.qtip.overrides";

@import "utils/variables";

// Core CSS
@import "components/buttons";

// Components
@import "components/_media";
@import "components/_cards";
@import "components/_circles";


body {
  padding-top: 100px;
}


footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 25px;
  padding: 25px 0 26px;

  &.form-actions {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

article h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;

  small {
    font-size: 12px;
  }
}
article h2 {
  font-size: 15px;
  line-height: 18px;
}
article footer {
  border-top-width: 0;
  margin-top: 15px;
  padding: 0;

  p {
    margin-bottom: 9px;
  }
}
.fa-ul {
  margin-left: 1.75em;
}


.navbar-avatar {
  margin-bottom: -3px;
  margin-right: 1px;
  margin-top: -6px;
  vertical-align: middle;
}

.toolbar {
  top: 44px !important;
  z-index: 1028 !important;
}

textarea.form-control.note-content-field {
  border: 1px solid #CCCCCC;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  resize: none;
/*  width: 506px;*/
}

.select2-container-multi .select2-choices {
  min-height: 30px !important;
}

.comments-toggle {
  > span.fa {
    &:before {
      content: '\f106';
    }
  }
  &.collapsed {
    > span.fa {
      &:before {
        content: '\f107';
      }
    }
  }
}
