/*/*
*= require_self
*= require_tree .
*/

body {
  padding-top: 100px;
}

.toolbar {
  top: 30px !important;
}

footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 25px;
  padding: 25px 0 26px;
}

article h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
}
article h1 small {
  font-size: 12px;
}
article h2 {
  font-size: 15px;
  line-height: 18px;
}
article footer {
  border-top-width: 0;
  margin-top: 15px;
  padding: 0;
}

article footer p {
  margin-bottom: 9px;
}
.fa-ul {
  margin-left: 1.75em;
}


/* consider using the panel styles and adding an arrow to that */
.activity-arrow-left {
  border: 1px solid #ccc;
  padding: 0 15px 0;
  position: relative;
}
.activity-arrow-left:before,
.activity-arrow-left:after {
  position: absolute;
  left: -15px;
  top: 10px;
  display: inline-block;
  margin-top: 7px;
  border: 7px solid rgba(255,0,0,0);
  content: '';
}
.activity-arrow-left:before {
  border-right: 7px solid #ccc;
}
.activity-arrow-left:after {
  left: -14px;
  border-right: 7px solid #fff;
}



.navbar-avatar {
  margin-bottom: -3px;
  margin-right: 1px;
  margin-top: -6px;
  vertical-align: middle;
}
.navbar-form .input-group-btn > .btn {
  margin-top: 0;
}

.toolbar {
  z-index: 1028 !important;
}

textarea.form-control.note-content-field {
  border: 1px solid #CCCCCC;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  resize: none;
/*  width: 506px;*/
}
