@import "vendor/bootstrap-custom";
@import "vendor/font-awesome";
@import "vendor/button-social";
@import "vendor/jquery.atwho";
@import "vendor/select2";
@import "vendor/pikaday";
@import "vendor/jquery.timepicker";
@import "vendor/jquery.qtip";
@import "jquery.qtip.overrides";

@import "components/_media";
@import "components/_circles";
@import "components/dropdown";
@import "components/side-nav";
@import "components/top-bar";
@import "components/toolbar";



body {
  padding-top: 125px;
}


.hidden {
  display: none !important;
}

footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 25px;
  padding: 25px 0 26px;

  &.form-actions {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
  }
}

article h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;

  small {
    font-size: 12px;
  }
}
article h2 {
  font-size: 15px;
  line-height: 18px;
}
article footer {
  border-top-width: 0;
  margin-top: 15px;
  padding: 0;

  p {
    margin-bottom: 9px;
  }
}
.fa-ul {
  margin-left: 1.75em;
}


.navbar-avatar {
  margin-bottom: -3px;
  margin-right: 1px;
  margin-top: -6px;
  vertical-align: middle;
}

textarea.form-control.note-content-field {
  border: 1px solid #CCCCCC;
  height: 38px;
  margin-bottom: 5px;
  padding: .375rem .75rem;
  resize: none;
/*  width: 506px;*/
}

.select2-container-multi .select2-choices {
  min-height: 38px !important;
}

.select2-container-multi .select2-choices .select2-search-field input {
  height: 38px;
}

.comments-toggle {
  > span.fa {
    &:before {
      content: '\f106';
    }
  }
  &.collapsed {
    > span.fa {
      &:before {
        content: '\f107';
      }
    }
  }
}
