<div class="col-sm-6 col-md-3">
  <div class="circle">
    <a data-object-id="5" data-title="0 people in this circle" data-content="Your real friends, the ones you feel comfortable sharing private details with." href="/circles/5" data-hasqtip="102" aria-describedby="qtip-102">Friends</a>
    <br>
    <span class="circle-tie-count">0</span>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="circle">
    <a data-object-id="6" data-title="0 people in this circle" data-content="Your close and extended family, with as many or as few in-laws as you want." href="/circles/6" data-hasqtip="107">Family</a>
    <br>
    <span class="circle-tie-count">0</span>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="circle">
    <a data-object-id="7" data-title="0 people in this circle" data-content="A good place to stick people you've met but aren't particularly close to." href="/circles/7" data-hasqtip="112">Acquaintances</a>
    <br>
    <span class="circle-tie-count">0</span>
  </div>
</div>
<div class="col-sm-6 col-md-3">
  <div class="circle">
    <a data-object-id="8" data-title="0 people in this circle" data-content="People you don't know personally, but whose posts you find interesting." href="/circles/8" data-hasqtip="117">Following</a>
    <br>
    <span class="circle-tie-count">0</span>
  </div>
</div>
