<div class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <img alt="200x176" data-src="holder.js/200x176/acs" class='img-responsive'>
    <div class="panel-body">
      <h4>First Last</h4>
      <p>
        Tagline text ahould go here
      </p>
      <div class="text-center">
        <a class="btn btn-default btn-block" href="#"><span class='fa fa-circle-thin'></span> Family</a>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <img alt="200x176" data-src="holder.js/200x176/acs" class='img-responsive'>
    <div class="panel-body">
      <h4>First Last</h4>
      <p>
        Tagline text ahould go here
      </p>
      <div class="text-center">
        <a class="btn btn-default btn-block" href="#"><span class='fa fa-circle-thin'></span> Following</a>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="panel panel-default">
    <img alt="200x176" data-src="holder.js/200x176/acs" class='img-responsive'>
    <div class="panel-body">
      <h4>First Last</h4>
      <p>
        Tagline text ahould go here
      </p>
      <div class="text-center">
        <a class="btn btn-danger btn-block" href="#"><span class='fa fa-user-plus'></span> Follow</a>
      </div>
    </div>
  </div>
</div>
