---
title: Circles - Socializer
---

<p><strong>Example:</strong> this is an example of the Groups toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li><a href="/circles.html">Find people</a></li>
    <li><a href="/circles/haveyou.html">Have you in circles</a></li>
    <li class="active"><a href="/circles/your_circles.html">Your circles</a></li>
    <li><a href="/circles/discover.html">Discover</a></li>
  </ul>
</nav>

<h2>Your Circles</h2>
<div class="row">
  <%= partial 'circles/circles' %>
</div>
