<div class='col-sm-6'>
  <div class="panel panel-default">
    <img alt="450x300" data-src="holder.js/450x300/#427fed:#fff" class='img-responsive'>
    <img alt="80x80" data-src="holder.js/80x80/#57a744:#fff" class='img-circle' style='display: block; width: 80px; margin: -40px auto 0;'>
    <div class="panel-body">
      <h4 class="text-center">Collection name</h4>

      <div class="text-center">
        <a class="btn btn-default btn-block" href="#">Follow</a>
      </div>
    </div>
  </div>
</div>

