<div class='col-sm-6'>
  <div class="card">
    <img alt="450x300" data-src="holder.js/450x300/#427fed:#fff" class='img-fluid'>
    <img alt="80x80" data-src="holder.js/80x80/#57a744:#fff" class='img-circle' style='display: block; width: 80px; margin: -40px auto 0;'>
    <div class="card-block">
      <h4 class="card-title text-xs-center">Collection name</h4>

      <a class="btn btn-primary btn-block" href="#">Follow</a>
    </div>
  </div>
</div>

