<div class="jumbotron text-center">
  <h1>Collections</h1>
  <p class="lead">GROUP YOUR POSTS BY TOPIC</p>
</div>

<div class="row">
  <div class='col-sm-6'>
    <h2><span class="fa fa-pencil text-primary"></span> Create</h2>

    <p class="text-lead">
      Start collections for your interests. Post videos, photos, and more
    </p>
  </div>

  <div class='col-sm-6'>
    <h2><span class="fa fa-heart text-primary"></span> Get found</h2>

    <p>
      People can follow all of your public collections, or just the ones they like
    </p>
  </div>
</div>

<div class='center-block' style="width: 250px; margin-top: 50px; margin-bottom: 50px;">
  <h2><span class="fa fa-magic text-primary"></span> Customize</h2>

  <p>
    Make your collection pop with custom names and cover photos
  </p>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="#">Create a Collection</a>
</div>
