<div class="col-sm-6">
  <div class="card">
    <img alt="450-x200" data-src="holder.js/450x200/acs" class='img-responsive'>
    <div class="card-block">
      <h4 class="card-title">Album Name</h4>

      <p class="card-text text-muted">
        <small>4 images</small> |
        <small>12 views</small> |
        <small><span class='fa fa-map-marker'></span> Someplace, SP</small>
      </p>

      <ul class='fa-ul text-muted small'>
        <li><span class='fa-li fa fa-image'></span>4 images</li>
        <li><span class='fa-li fa fa-calendar'></span>Jun 27 - Jun 28</li>
        <li><span class='fa-li fa fa-map-marker'></span>Someplace, SP</li>
        <li><span class='fa-li fa fa-thumbs-o-up'></span>2 likes</li>
        <li><span class='fa-li fa fa-users'></span>12 views</li>
      </ul>

      <p>
        Album Description. Use a carousel to cycle the cover image.
      </p>

      <hr>
      <footer>
        <div class='btn-group'>
          <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
          <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 1</a>
        </div>
      </footer>
    </div>
  </div>
</div>
