<div class="col-sm-6">
  <div class="card">
    <img alt="450-x200" data-src="holder.js/450x200/acs" class='img-responsive'>
    <div class="card-block">
      <h4 class="card-title">Photo Caption</h4>

      <p class="card-text text-muted">
        <small>4 likes</small> |
        <small>2 comments</small>
      </p>

      <p class="card-text">
        Photo Description. Use something like Masonry, Isotope, or Salvattore to display photos instead of the regular grid
      </p>

      <footer>
        <div class='btn-group'>
          <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
          <a title='Comment' class='btn btn-default btn-sm' href='#'><span class='fa fa-comments-o text-muted'></span></a>
          <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 1</a>
        </div>
      </footer>
    </div>
  </div>
</div>
