---
title: Photos - Socializer
---

<p><strong>Example:</strong> this is an example of the Photos toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li><%= link_to('Highlights', '/photos.html') %></li>
    <li><%= link_to('All photos', '/photos/all.html') %></li>
    <li class='dropdown'>
      <a href='#' class='dropdown-toggle' data-toggle='dropdown'>More <b class='fa fa-angle-down fa-fw'></b></a>
      <ul class='dropdown-menu'>
        <li><a href='#'>Albums</a></li>
        <li><a href='#'>Videos</a></li>
        <li><a href='#'>Photos of you</a></li>
        <li><a href='#'>Recently added</a></li>
      </ul>
    </li>
    <li class="active"><%= link_to('Upload photos', '/photos/upload.html') %></li>
  </ul>
</nav>

<div class="well well-lg">
  <h1 class="text-center">Add photos from your computer</h1>

  <p class="text-center">Upload photos from your computer to your library to get started</p>

  <p class="text-center">
    <span class="fa fa-5x fa-upload"></span>
  </p>

  <p class="text-center">
    <button class="btn btn-danger">Upload photos</button>
  </p>
</div>
