<div class="col-sm-6 col-md-4">
  <div class="card">
    <img alt="200x176" data-src="holder.js/200x176/acs" class='img-responsive'>
    <div class="card-block">
      <h4class="card-title">Group name</h4>

      <p class="card-text">
        <small class="text-muted">4 members</small>
        <small class="text-muted">12 posts</small>
      </p>

      <a class="btn btn-primary btn-block" href="#">Edit</a>
    </div>
  </div>
</div>
