@import url(bootstrap.css);
@import url(todc-bootstrap.css);
@import url(font-awesome.css);
@import url(button-social.css);
@import url(jquery.atwho.css);
@import url(select2.css);
@import url(pikaday.css);
@import url(jquery.timepicker.css);
@import url(jquery.qtip.css);
@import url(jquery.qtip.overrides.css);
/* line 1, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/_buttons.scss */
.btn-transparent {
  border: 1px solid transparent;
  color: #333;
  background-image: none;
  text-shadow: none; }
  /* line 8, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/_buttons.scss */
  .btn-transparent:hover {
    text-shadow: none;
    box-shadow: none; }
  /* line 13, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/_buttons.scss */
  .btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .open .dropdown-toggle .btn-transparent {
    color: #333;
    background-image: none;
    background-color: #fafafa; }
  /* line 24, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/_buttons.scss */
  .btn-transparent.btn-xs {
    padding: 2px 4px; }

/* line 12, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media {
  display: table;
  width: 100%;
  margin-bottom: 1.4;
  padding-bottom: 5px; }
  /* line 19, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media:last-child {
    padding-bottom: 0; }
  /* line 24, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media small {
    font-size: 12px; }
  /* line 28, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media.panel {
    padding: 10px; }

/* line 33, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-object,
.media-body {
  display: table-cell;
  vertical-align: top; }

/* line 39, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-object {
  padding-right: 10px; }
  /* line 42, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media-object img {
    width: 48px;
    height: auto;
    border-radius: 2px;
    display: block;
    max-width: none; }
  /* line 50, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media-object.right-align {
    padding-right: 0;
    padding-left: 10px; }

/* line 56, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-body {
  width: 100%; }
  /* line 59, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media-body h1,
  .media-body h2 {
    font-size: 15px;
    margin-top: .2em;
    margin-bottom: .5em; }
    /* line 65, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
    .media-body h1 a,
    .media-body h2 a {
      color: #333333; }
      /* line 67, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
      .media-body h1 a:hover,
      .media-body h2 a:hover {
        color: #666666; }
      /* line 70, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
      .media-body h1 a.text-muted,
      .media-body h2 a.text-muted {
        color: #999999; }
  /* line 76, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media-body h2 {
    font-size: 13px;
    margin-top: 5px; }

/* line 89, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-sm .media-object img {
  width: 32px; }
/* line 95, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-sm .media-body h1 {
  font-size: 13px; }

/* line 101, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-body-footer {
  padding: 10px 0;
  border-top: 1px solid #ccc; }

/* line 108, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-body-attachment {
  border-top: 1px solid #ccc;
  padding-top: 10px; }

/* line 113, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
.media-comments {
  padding: 10px;
  background-color: #F1F1F1;
  border-top: 1px solid #E5E5E5;
  box-shadow: none; }
  /* line 120, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_media.scss */
  .media-comments h1 {
    margin-top: .1em; }

/* line 1, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_cards.scss */
.card {
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 10px; }

/* line 16, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_circles.scss */
.circle {
  background-color: #e5e5e5;
  color: #666;
  text-align: center;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  padding: 45px 0;
  margin: 10px auto;
  cursor: pointer; }
  /* line 27, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_circles.scss */
  .circle:hover, .circle.droppable-hover {
    background-color: #cccccc;
    transition: all 0.3s ease-in-out 0s; }
  /* line 33, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/components/_circles.scss */
  .circle a {
    color: #666; }

/* line 23, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
body {
  padding-top: 100px; }

/* line 28, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 25px;
  padding: 25px 0 26px; }
  /* line 33, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
  footer.form-actions {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0; }

/* line 40, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
article h1 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px; }
  /* line 45, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
  article h1 small {
    font-size: 12px; }

/* line 49, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
article h2 {
  font-size: 15px;
  line-height: 18px; }

/* line 53, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
article footer {
  border-top-width: 0;
  margin-top: 15px;
  padding: 0; }
  /* line 58, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
  article footer p {
    margin-bottom: 9px; }

/* line 62, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.fa-ul {
  margin-left: 1.75em; }

/* line 67, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.navbar-avatar {
  margin-bottom: -3px;
  margin-right: 1px;
  margin-top: -6px;
  vertical-align: middle; }

/* line 74, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.toolbar {
  top: 44px !important;
  z-index: 1028 !important; }

/* line 79, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
textarea.form-control.note-content-field {
  border: 1px solid #CCCCCC;
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  resize: none;
  /*  width: 506px;*/ }

/* line 88, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.select2-container-multi .select2-choices {
  min-height: 30px !important; }

/* line 94, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.comments-toggle > span.fa:before {
  content: '\f106'; }
/* line 100, /Users/tpietschker/Projects/github/socializer-ui-mock/source/assets/stylesheets/application.scss */
.comments-toggle.collapsed > span.fa:before {
  content: '\f107'; }
