<div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title">Collections</h4>
    <p class="card-text">
      <span class="text-muted">Talk about stuff you're into with people who love it too.</span>
    </p>

    <a href="#" class="btn btn-primary">Discover collections</a>
  </div>
</div>
