<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Contact Information</h4>
    </div>

    <div class="panel-body">
      <p>
        <strong>Home</strong>
      </p>
      <p>
        <span class="text-muted">How can people reach you at home?</span>
      </p>

      <p>
        <strong>Work</strong>
      </p>
      <p>
        <span class="text-muted">How can people reach you at work?</span>
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
