<div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title">Basic Information</h4>

    <div class="row">
      <div class="col-sm-6">
        <strong>Gender</strong>
      </div>

      <div class="col-sm-6">
        Gender
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <strong>Looking for</strong>
      </div>

      <div class="col-sm-6">
        <span class="text-muted">Who are you looking for?</span>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <strong>Birthday</strong>
      </div>

      <div class="col-sm-6">
        Nov 1
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <strong>Relationship</strong>
      </div>

      <div class="col-sm-6">
        <span class="text-muted">Seeing anyone?</span>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-6">
        <strong>Other names</strong>
      </div>

      <div class="col-sm-6">
        <span class="text-muted">For example: maiden name, alternate spellings</span>
      </div>
    </div>
    <br>

    <a href="#" class="card-link">Edit</a>
  </div>
</div>
