<div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title">Links</h4>

    <p class="card-text">
      <strong>Other profiles</strong>
    </p>
    <p class="card-text">
      <span class="text-muted">What pages are about you?</span>
    </p>

    <p class="card-text">
      <strong>Contributor to</strong>
    </p>
    <p class="card-text">
      <span class="text-muted">What pages feature your work?</span>
    </p>

    <p class="card-text">
      <strong>Links</strong>
    </p>
    <p class="card-text">
      <span class="text-muted">What pages interest you?</span>
    </p>

    <a href="#" class="card-link">Edit</a>
  </div>
</div>
