<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Links</h4>
    </div>

    <div class="panel-body">
      <p>
        <strong>Other profiles</strong>
      </p>
      <p>
        <span class="text-muted">What pages are about you?</span>
      </p>

      <p>
        <strong>Contributor to</strong>
      </p>
      <p>
        <span class="text-muted">What pages feature your work?</span>
      </p>

      <p>
        <strong>Links</strong>
      </p>
      <p>
        <span class="text-muted">What pages interest you?</span>
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
