<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Links</h4>
    </div>

    <div class="panel-body">
      <p>
        <strong>TODO</strong>
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
