<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">People</h4>
      </div>

      <div class="panel-body">
        <p class="pull-right text-muted">3 people</p>
        <p><strong>In your circles</strong></p>
        <p>
          <a href='#' class='pull-left'>
            <img alt='46x46' data-src='holder.js/46x46/acs' class='media-object'>
          </a>
        </p>

        <p class="pull-right text-muted">7 people</p>
        <p><strong>Have you in circles</strong></p>
        <p>
          <a href='#' class='pull-left'>
            <img alt='46x46' data-src='holder.js/46x46/acs' class='media-object'>
          </a>
        </p>

        <p>
          <a href="#">Edit</a>
        </p>
      </div>
    </div>
  </div>
</div>
