<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Places</h4>
    </div>

    <div class="panel-body">
      <p>
        <img class="img-responsive" alt="Map of places lived" alt="400x175" data-src="holder.js/400x175">
      </p>

      <p>
        <strong>Currently</strong>
      </p>
      <p>
        This Place, TP
      </p>

      <p>
        <strong>Previously</strong>
      </p>

      <p>
        Someplace, SP - Somewhere, SW
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
