<div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title">Story</h4>

    <p class="card-text">
      <strong>Tagline</strong>
      <br>
      <span class="text-muted">A brief description of you</span>
    </p>

    <p class="card-text">
      <strong>Introduction</strong>
      <br>
      <span class="text-muted">Put a little about yourself here so people know they've found the correct First Name</span>
    </p>

    <p class="card-text">
      <strong>Bragging rights</strong>
      <br>
      <span class="text-muted">Examples: survived high school, have 3 kids, etc.</span>
    </p>

    <a href="#" class="card-link">Edit</a>
  </div>
</div>
