<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Story</h4>
    </div>

    <div class="panel-body">
      <p>
        <strong>Tagline</strong>
        <br>
        <span class="text-muted">A brief description of you</span>
      </p>

      <p>
        <strong>Introduction</strong>
        <br>
        <span class="text-muted">Put a little about yourself here so people know they've found the correct First Name</span>
      </p>

      <p>
        <strong>Bragging rights</strong>
        <br>
        <span class="text-muted">Examples: survived high school, have 3 kids, etc.</span>
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
