<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Work</h4>
    </div>

    <div class="panel-body">
      <p>
        <strong>Occupation</strong>
        <br>
        <span class="text-muted">What do you do?</span>
      </p>

      <p>
        <strong>Skills</strong>
        <br>
        <span class="text-muted">What are your skills?</span>
      </p>

      <p>
        <strong>Employment</strong>
        <br>
        <span class="text-muted">Where have you worked?</span>
      </p>

      <p>
        <a href="#">Edit</a>
      </p>
    </div>
  </div>
</div>
