.toolbar {
  @extend .navbar;
  @extend .navbar-light;
  @extend .navbar-fixed-top;

  background-color: #fff;
  top: 54px !important;
  z-index: 1028 !important;
  border-bottom: 1px solid #ebebeb;
}
