<div class="col-sm-6">
  <div class="panel panel-default">
    <img alt="450-x200" data-src="holder.js/450x200/acs" class='img-responsive'>
    <div class="panel-body">
      <h4>Video Caption</h4>
      <p>
        <small class="text-muted">4 likes</small> |
        <small class="text-muted">2 comments</small>
      </p>

      <p>
        Video Description. Use something like Masonry, Isotope, or Salvattore to display videos instead of the regular grid
      </p>

      <footer class='media-body-footer'>
        <div class='btn-group'>
          <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
          <a title='Comment' class='btn btn-default btn-sm' href='#'><span class='fa fa-comments-o text-muted'></span></a>
          <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 1</a>
        </div>
      </footer>
    </div>
  </div>
</div>
