<div class="col-sm-6 col-md-4">
  <div class="card">
    <img alt="200x176" data-src="holder.js/200x176/acs" class='img-fluid'>
    <div class="card-block">
      <h4 class="card-title">First Last</h4>

      <p class="card-text">
        Tagline text ahould go here
      </p>

      <a class="btn btn-primary btn-block" href="#"><span class='fa fa-circle-thin'></span> Following</a>
    </div>
  </div>
</div>
