<article class='media card'>
  <section class='media-object'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </section>

  <section class='media-body'>
    <header>
      <div class='btn-group pull-right'>
        <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
          <span class='fa fa-angle-down fa-lg'></span>
        </a>
        <div class='dropdown-menu'>
          <a class="dropdown-item" href='#'>View activity</a>
          <a class="dropdown-item" href='#'>Link to post</a>
          <a class="dropdown-item" href='#'>Embed post</a>
          <a class="dropdown-item" href='#'>Mute post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href='#'>Report spam or abuse</a>
        </div>
      </div>

      <h1>
        <a href='#'>First Last</a>
        <small class='text-muted'> -
          <a title='January 15, 2014 10:16:04 AM&#10;(edited January 16, 2014 9:02:37 AM)' class='text-muted' href='#'>January 16, 2014 (edited)</a> -
          <a class='text-muted' title='' href='#'>Events</a> -
          <a class='text-muted' data-keyboard='true' data-backdrop='static' data-controls-modal1='modal-from-dom' title='Sharing details' id='visibility'>Limited</a>
        </small>
      </h1>

      <h2><a>Event Title</a></h2>
    </header>

    <ul class='fa-ul'>
      <li><i class='fa-li fa fa-calendar'></i>Today, Jun 27, 7:00 PM - 9:00 PM</li>
      <li><i class='fa-li fa fa-map-marker'></i>Someplace cool.</li>
      <li><i class='fa-li fa fa-user'></i>13 people attending</li>
    </ul>

    <p>
      <strong>Are you going?</strong>
      <br>
      <a href='#' class='btn btn-primary'>Yes</a>
      <a href='#' class='btn btn-primary'>Maybe</a>
      <a href='#' class='btn btn-primary'>No</a>
    </p>


    <p>
      Cras sit amet nibh libero , in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. This is a
      <button class='btn btn-sm' style='background: #eee; border: 1px solid #ddd; border-radius 2px; color: #36c!important; margin: 0 1px; padding: 0 1px; vertical-align: baseline;'>
        <span style='color: #888;'>#</span>test
      </button>
      <button class='btn btn-sm' style='background: #eee; border: 1px solid #ddd; border-radius 2px; color: #36c!important; margin: 0 1px; padding: 0 1px; vertical-align: baseline;'>
        <span style='color: #888;'>#</span>event
      </button>,
      <button class='btn btn-sm' style='background: #eee; border: 1px solid #ddd; border-radius 2px; color: #36c!important; margin: 0 1px; padding: 0 1px; vertical-align: baseline;'>
        <span style='color: #888;'>@</span>joe-user
      </button>
    </p>

    <footer class='media-body-footer'>
      <div class='btn-group'>
        <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
        <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span></a>
      </div>
    </footer>

    <section class='media-comments'>
      <div class='row'>
        <!-- Add a comment -->
        <form action=''>
          <div class='col-xs-12'>
            <input class='form-control' type='text' placeholder='Add a comment...' id='comment-temp'>
          </div>
        </form>
      </div>
    </section>
  </section><!-- .media-body -->
</article>

