<footer>
  <div class='container'>
    <p>This is the footer</p>
    <p style='text-align: right;' class='pull-right muted'>
      Copyright &copy; 2014 by Some Company
      <br>
      All Rights Reserved
    </p>
  </div><!-- .container -->
</footer>
