<h2>Stream style</h2>
<article class='media'>
  <a href='#' class='pull-left'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </a>
  <section class='media-body'>
    <div class='activity-arrow-left'>
      <header>
        <div class='btn-group pull-right'>
          <a class="btn btn-xs btn-primary">Join</a>
          <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
            <span class='fa fa-angle-down fa-lg'></span>
          </a>
          <ul class='dropdown-menu'>
            <li><a href='#'>Edit</a></li>
            <li><a href='#'>Delete</a></li>
            <li class='divider'></li>
            <li><a href='#'>Link to post</a></li>
            <li class='divider'></li>
            <li><a href='#'>Disable comments</a></li>
            <li><a href='#'>Disable sharing</a></li>
          </ul>
        </div>

        <h1>
          <a href='#'>First Last</a>
          <small class='text-muted'> -
            <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
            <a class='text-muted' title='' href='#'>Groups</a> -
            <a class='text-muted' title='Sharing details' id='visibility'>Limited</a>
          </small>
        </h1>

        <h2>
          <a>Group Name</a>
        </h2>
      </header>

      <p>
        <small class="muted">4 members</small>
        <small class="muted">12 posts</small>
      </p>

      This is the description for the group.

      <footer class='media-body-footer'>
        <div class='btn-group'>
          <a title='Like' class='btn btn-default btn-small' href='#'><span class='fa fa-thumbs-up text-muted'></span></a>
          <a title='Share' class='btn btn-default btn-small' href='#'><span class='fa fa-share text-muted'></span> 1</a>
        </div>
      </footer>

      <section class='media-comments'>
        <div class='row'>
        </div>
      </section>
    </div><!-- .activity-arrow-left -->
  </section><!-- .media-body -->
</article>

<article class='media'>
  <a href='#' class='pull-left'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </a>
  <section class='media-body'>
    <div class='activity-arrow-left'>
      <header>
        <div class='btn-group pull-right'>
          <a class="btn btn-xs btn-danger">Leave</a>
          <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
            <span class='fa fa-angle-down fa-lg'></span>
          </a>
          <ul class='dropdown-menu'>
            <li><a href='#'>Edit</a></li>
            <li><a href='#'>Delete</a></li>
            <li class='divider'></li>
            <li><a href='#'>Link to post</a></li>
            <li class='divider'></li>
            <li><a href='#'>Disable comments</a></li>
            <li><a href='#'>Disable sharing</a></li>
          </ul>
        </div>

        <h1>
          <a href='#'>First Last</a>
          <small class='text-muted'> -
            <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
            <a class='text-muted' title='' href='#'>Groups</a> -
            <a class='text-muted' title='Sharing details' id='visibility'>Limited</a>
          </small>
        </h1>

        <h2>
          <a>Group Name</a>
        </h2>
      </header>

      <p>
        <small class="muted">4 members</small>
        <small class="muted">12 posts</small>
      </p>

      This is the description for the group.

      <footer class='media-body-footer'>
        <div class='btn-group'>
          <a title='Like' class='btn btn-default btn-small' href='#'><span class='fa fa-thumbs-up text-muted'></span></a>
          <a title='Share' class='btn btn-default btn-small' href='#'><span class='fa fa-share text-muted'></span> 1</a>
        </div>
      </footer>

      <section class='media-comments'>
        <div class='row'>
        </div>
      </section>
    </div><!-- .activity-arrow-left -->
  </section><!-- .media-body -->
</article>

<h2>Group List</h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card thumbnail">
      <img alt="200x176" data-src="holder.js/200x176/acs">
      <div class="caption">
        <h4>Group name</h4>
        <p>
          <small class="muted">4 members</small>
          <small class="muted">12 posts</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card thumbnail">
      <img alt="200x176" data-src="holder.js/200x176/acs">
      <div class="caption">
        <h4>Group name</h4>
        <p>
          <small class="muted">4 members</small>
          <small class="muted">12 posts</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="card thumbnail">
      <img alt="200x176" data-src="holder.js/200x176/acs">
      <div class="caption">
        <h4>Group name</h4>
        <p>
          <small class="muted">4 members</small>
          <small class="muted">12 posts</small>
        </p>
      </div>
    </div>
  </div>
</div>
