<article class='media card'>
  <section class='media-object'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </section>

  <section class='media-body'>
    <header>
      <div class='btn-group pull-right'>
        <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
          <span class='fa fa-angle-down fa-lg'></span>
        </a>
        <ul class='dropdown-menu'>
          <li><a href='#'>View activity</a></li>
          <li><a href='#'>Link to post</a></li>
          <li><a href='#'>Embed post</a></li>
          <li><a href='#'>Mute post</a></li>
          <li class='divider'></li>
          <li><a href='#'>Report spam or abuse</a></li>
        </ul>
      </div>

      <h1>
        <a href='#'>First Last</a>
        <small class='text-muted'> -
          <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
          <a class='text-muted' data-keyboard='true' data-backdrop='static' data-controls-modal1='modal-from-dom' title='Sharing details' id='visibility'>Limited</a>
        </small>
      </h1>
    </header>

    This is an example of what a link would be like. This is where user text would go.

    <section class='media media-body-attachment'>
      <a href='#' class='pull-left'>
        <img alt='135x90' data-src='holder.js/135x90/acs'>
      </a>
      <section class='media-body'>
        <a target='_blank' href='http://www.marksdailyapple.com/how-agriculture-ruined-your-health-and-what-to-do-about-it/'>
          How Agriculture Ruined Your Health (and What to Do About It) | Mark's Daily Apple&nbsp;»
        </a>
        <p>
         You are overweight. I'm sorry to be blunt, but it's probably true: most adults living in Western countries are
         overweight. A large portion is obese. Half of
        </p>
      </section>
    </section>

    <footer class='media-body-footer'>
      <div class='btn-group'>
        <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span> 23</a>
        <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 12</a>
      </div>
    </footer>

    <section class='media-comments'>
      <div class='row'>
        <!-- Add a comment -->
        <form action=''>
          <div class='col-xs-12'>
            <input class='form-control' type='text' placeholder='Add a comment...' id='comment-temp'>
          </div>
        </form>
      </div>
    </section>
  </section><!-- .media-body -->
</article>
