<article class='media panel panel-default'>
  <section class='media-object'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </section>

  <section class='media-body'>
    <header>
      <div class='btn-group pull-right'>
        <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
          <span class='fa fa-angle-down fa-lg'></span>
        </a>
        <ul class='dropdown-menu'>
          <li><a href='#'>Edit</a></li>
          <li><a href='#'>Delete</a></li>
          <li class='divider'></li>
          <li><a href='#'>Link to post</a></li>
          <li class='divider'></li>
          <li><a href='#'>Disable comments</a></li>
          <li><a href='#'>Disable sharing</a></li>
        </ul>
      </div>

      <h1>
        <a href='#'>First Last</a>
        <small class='text-muted'> -
          <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
          <a class='text-muted' data-keyboard='true' data-backdrop='static' data-controls-modal1='modal-from-dom' title='Sharing details' id='visibility'>Limited</a>
        </small>
      </h1>
    </header>

    <p>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
      vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
      congue felis in faucibus.
    </p>

    <footer class='media-body-footer'>
      <div class='btn-group'>
        <a title='Like' class='btn btn-default btn-sm' href='#'><span class='fa fa-thumbs-o-up text-muted'></span></a>
        <a title='Share' class='btn btn-default btn-sm' href='#'><span class='fa fa-share text-muted'></span> 1</a>
      </div>
    </footer>

    <section class='media-comments'>
      <div class='row'>
        <!-- Add a comment -->
        <form action=''>
          <div class='col-xs-12'>
            <input class='form-control' type='text' placeholder='Add a comment...' id='comment-temp'>
          </div>
        </form>
      </div>
    </section>
  </section><!-- .media-body -->
</article>
