<article class='media'>
  <a href='#' class='pull-left'>
    <img alt='48x48' data-src='holder.js/48x48/acs' class='media-object'>
  </a>
  <section class='media-body'>
    <div class='activity-arrow-left'>
      <header>
        <div class='btn-group pull-right'>
          <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
            <span class='fa fa-angle-down fa-lg'></span>
          </a>
          <ul class='dropdown-menu'>
            <li><a href='#'>Edit</a></li>
            <li><a href='#'>Delete</a></li>
            <li class='divider'></li>
            <li><a href='#'>Link to post</a></li>
            <li class='divider'></li>
            <li><a href='#'>Disable comments</a></li>
            <li><a href='#'>Disable sharing</a></li>
          </ul>
        </div>

        <h1>
          <a href='#'>First Last 1</a>
          <small class='text-muted'> -
            <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>4 hours ago</a> -
            <a class='text-muted' data-keyboard='true' data-backdrop='static' data-controls-modal1='modal-from-dom' title='Sharing details' id='visibility'>Limited</a>
          </small>
        </h1>
      </header>

      This is an example of what sharing a link would be like.

      <section class='media media-body-attachment'>
        <a href='#' class='pull-left'>
          <img alt='135x90' data-src='holder.js/135x90/acs'>
        </a>
        <section class='media-body'>
          <p>
            <strong>User</strong> <a title='Dev Note: Link to original activities show event'>originally shared:</a>
          <p>
          <a target='_blank' href='http://www.marksdailyapple.com/how-agriculture-ruined-your-health-and-what-to-do-about-it/'>
            How Agriculture Ruined Your Health (and What to Do About It) | Mark's Daily Apple&nbsp;»
          </a>
          <p>
           You are overweight. I'm sorry to be blunt, but it's probably true: most adults living in Western countries are
           overweight. A large portion is obese. Half of
          </p>
        </section>
      </section>

      <footer class='media-body-footer'>
        <div class='btn-group'>
          <a class='btn btn-default btn-small btn-danger' href='#' title='Remove your like from this post'><span class='fa fa-thumbs-up'></span> 3</a>
          <a class='btn btn-default btn-small' href='#' title='Share' ><span class='fa fa-share text-muted'></span> 2</a>
        </div>
      </footer>

      <section class='media-comments'>
        <p>
          <a class='comments-toggle collapsed text-muted' href='#' title='' data-toggle="collapse" data-target="#share-comments">
            3 comments <span class='fa fa-fw fa-lg'></span>
          </a>
        </p>

        <div class='media'>
          <a href='#' class='pull-left'>
            <img alt='32x32' data-src='holder.js/32x32/acs' class='media-object'>
          </a>
          <div class='media-body'>
            <header>
              <div class='btn-group pull-right'>
                <a class='text-muted' href='#' title='Reply'><small>Reply</small></a>
                <a class='text-muted' href='#' title='Like'><span class='fa fa-thumbs-o-up fa-fw'></span></a>
                <a class='text-muted' href='#' title='Report abuse or spam'><span class='fa fa-flag fa-fw'></span></a>
                <a class='text-muted' href='#' title='Remove comment'><span class='fa fa-times fa-fw'></span></a>
              </div>
              <h1>
                <a href='#'>First Last</a>
                <small class='text-muted'> -
                  <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>3 hours ago</a>
                </small>
              </h1>
            </header>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
            congue felis in faucibus.
          </div>
        </div>

        <div class='collapse' id='share-comments'>
          <div class='media' style='margin-top: 15px;'>
            <a href='#' class='pull-left'>
              <img alt='32x32' data-src='holder.js/32x32/acs' class='media-object'>
            </a>
            <div class='media-body'>
              <header>
                <div class='btn-group pull-right'>
                  <a class='text-muted' href='#' title='Reply'><small>Reply</small></a>
                  <a class='text-muted' href='#' title='Like'><span class='fa fa-thumbs-o-up fa-fw'></span></a>
                  <a class='text-muted' href='#' title='Report abuse or spam'><span class='fa fa-flag fa-fw'></span></a>
                  <a class='text-muted' href='#' title='Remove comment'><span class='fa fa-times fa-fw'></span></a>
                </div>
                <h1>
                  <a href='#'>First Last</a>
                  <small class='text-muted'> -
                    <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>3 hours ago</a>
                  </small>
                </h1>
              </header>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
              congue felis in faucibus.
            </div>
          </div>

          <div class='media'>
            <a href='#' class='pull-left'>
              <img alt='32x32' data-src='holder.js/32x32/acs' class='media-object'>
            </a>
            <div class='media-body'>
              <header>
                <div class='btn-group pull-right'>
                  <a class='text-muted' href='#' title='Reply'><small>Reply</small></a>
                  <a class='text-muted' href='#' title='Like'><span class='fa fa-thumbs-o-up fa-fw'></span></a>
                  <a class='text-muted' href='#' title='Report abuse or spam'><span class='fa fa-flag fa-fw'></span></a>
                  <a class='text-muted' href='#' title='Remove comment'><span class='fa fa-times fa-fw'></span></a>
                </div>
                <h1>
                  <a href='#'>First Last</a>
                  <small class='text-muted'> -
                    <a class='text-muted' title='Jan 25, 2014 10:16:04 AM' href='#'>3 hours ago</a>
                  </small>
                </h1>
              </header>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio,
              vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
              congue felis in faucibus.
            </div>
          </div>
        </div>
        <br>

        <div class='row'>
          <!-- Add a comment -->
          <form action=''>
            <div class='col-xs-12'>
              <input class='form-control' type='text' placeholder='Add a comment...' id='comment-temp'>
            </div>
          </form>
        </div>
      </section>
    </div><!-- .activity-arrow-left -->
  </section><!-- .media-body -->
</article>
