---
title: Circles - Socializer
---

<h1>Find people</h1>
<h2>Suggestions</h2>
<%= partial 'circles/suggestions' %>

<h1>Have you in circles</h1>
<%= partial 'circles/haveyou' %>

<h1>Your Circles</h1>
<%= partial 'circles/circles' %>
