---
title: Circles - Socializer
---

<p><span><strong>Note: </strong></span>Find People, Suggestions, and Your circles should be separate pages</p>

<p><strong>Example:</strong> this is an example of the Groups toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/circles.html">Find people</a></li>
    <li><a href="/circles/haveyou.html">Have you in circles</a></li>
    <li><a href="#">Your circles</a></li>
    <li><a href="#">Discover</a></li>
  </ul>
</nav>

<h2>
  Suggestions
  <p class="small">People you may know</p>
</h2>

<div class="row">
  <%= partial 'circles/suggestions' %>
  <%= partial 'circles/suggestions' %>
  <%= partial 'circles/suggestions' %>
</div>

<h1>Your Circles</h1>
<div class="row">
  <%= partial 'circles/circles' %>
</div>
