---
title: Collections - Socializer
---

<p><strong>Example:</strong> this is an example of the Collections toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/collections.html">Your collections</a></li>
    <li><a href="/collections/featured.html">Featured</a></li>
  </ul>
</nav>

<%= partial 'collections/empty' %>

<h2>Collections from your Circles</h2>

<div class="row">
  <%= partial 'collections/collection' %>
  <%= partial 'collections/collection' %>
</div>
