---
title: Collections - Socializer
---

<p><strong>Example:</strong> this is an example of the Collections toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li class="active"><a href="/collections.html">Your collections</a></li>
    <li><a href="/collections/featured.html">Featured</a></li>
  </ul>
</nav>

<div class="jumbotron text-center">
  <h1>Collections</h1>
  <p class="lead">GROUP YOUR POSTS BY TOPIC</p>
</div>

<div class="row">
  <div class='col-sm-6'>
    <h2><span class="fa fa-pencil text-primary"></span> Create</h2>

    <p class="text-lead">
      Start collections for your interests. Post videos, photos, and more
    </p>
  </div>

  <div class='col-sm-6'>
    <h2><span class="fa fa-heart text-primary"></span> Get found</h2>

    <p>
      People can follow all of your public collections, or just the ones they like
    </p>
  </div>
</div>

<div class='center-block' style="width: 250px; margin-top: 50px; margin-bottom: 50px;">
  <h2><span class="fa fa-magic text-primary"></span> Customize</h2>

  <p>
    Make your collection pop with custom names and cover photos
  </p>
</div>

<div class="text-center">
  <a class="btn btn-primary" href="#">Create a Collection</a>
</div>

<h2>Collections from your Circles</h2>

<div class="row">
  <%= partial 'collections/collection' %>
  <%= partial 'collections/collection' %>
</div>
