---
title: Profile - Socializer
---

<p><strong>Example:</strong> thisis an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">About</a></li>
    <li><a href="#">Posts</a></li>
    <li><a href="#">Collections</a></li>
    <li><a href="#">Photos</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Likes</a></li>
  </ul>
</nav>

<h1>About</h1>
<%= partial 'profile/about' %>

<h1>Posts</h1>

<h1>Collections</h1>

<h1>Photos</h1>

<h1>Videos</h1>

<h1>Likes</h1>
