---
title: Profile - Socializer
---

<p><strong>Example:</strong> this is an example of the Profile toolbar</p>
<nav class="toolbar navbar navbar-toolbar navbar-default navbar-static-top" style="margin-bottom: 58px;">
  <ul class="nav navbar-nav">
    <li><a href="profile/about.html">About</a></li>
    <li class="active"><a href="./profile.html">Posts</a></li>
    <li><a href="profile/collections.html">Collections</a></li>
    <li><a href="profile/photos.html">Photos</a></li>
    <li><a href="profile/videos.html">Videos</a></li>
    <li><a href="profile/likes.html">Likes</a></li>
  </ul>
</nav>

<!-- Share -->
<%= partial :share %>

<!-- Link -->
<%= partial :link %>

<!-- Note -->
<%= partial :note %>

<!-- Event -->
<%= partial :event %>

<h1>Photos</h1>

<h1>Videos</h1>

<h1>Likes</h1>
